<router-outlet></router-outlet>
<div class="outer">
  <h2 class="header-text">Alter Student's Courses</h2>
  <hr>
<mat-tab-group>
  <mat-tab label="1st Semester"> <app-semester1></app-semester1> </mat-tab>
  <mat-tab label="2snd Semester"> <app-semester2></app-semester2> </mat-tab>
  <mat-tab label="3rd Semester"> <app-semester3></app-semester3> </mat-tab>
  <mat-tab label="4th Semester"> <app-semester4></app-semester4></mat-tab>
  <mat-tab label="5th Semester"> <app-semester5></app-semester5></mat-tab>
  <mat-tab label="6th Semester"> <app-semester6></app-semester6></mat-tab>
  <mat-tab label="7th Semester"> <app-semester7></app-semester7> </mat-tab>
  <mat-tab label="8th Semester"> <app-semester8></app-semester8></mat-tab>
</mat-tab-group>
</div>>
