
<router-outlet></router-outlet>
<html>
<section class="services" id="services">

  <h1 class="heading">our services</h1>

  <div class="box-container container">

    <div class="box">
      <img src="./assets/images/img.png" alt="">
      <h3>Add Students</h3>
      <p>..</p>
    </div>

    <div class="box">
      <img src="./assets/images/img_1.png" alt="">
      <h3>Remove Student</h3>
      <p>..</p>
    </div>

    <div class="box">
      <img src="./assets/images/img_8.png" alt="">
      <h3>List All Students</h3>
      <p>..</p>
    </div>

    <div class="box">
      <img src="./assets/images/img_9.png" alt="">
      <h3>Alter Courses</h3>
      <p>..</p>
    </div>

  </div>

</section>
</html>

