<div class="main">

  <div class="inner">
    <div class="left-side wrap">
      <h2>
        Welcome to Student Management System
      </h2>
      <br>
      <div class="image">
        <img class="center"  align="center" src="./assets/images/kdu.png" alt="Simply Easy Learning" width="450"
             height="250">
      </div>
      <br>
      <h3>
        General Sir John Kotelawala Defence University
      </h3>

      <div class="button-bar">
        <button routerLink="/auth/login" routerLinkActive="active">Login</button>
        <button routerLink="/auth/signup" routerLinkActive="active">Sign Up</button>

      </div>
    </div>

    <div class="right-side wrap">
      <div class="navigateContext">
        <router-outlet></router-outlet>

      </div>
    </div>

  </div>

</div>
