<form [formGroup]="Semester5Form" (ngSubmit)="uploadData()">
  <div class="outer">

    <div class="col-12">
      <label for="regNum" class="form-label">Registration Number</label>
      <input type="text" class="form-control" id="regNum" formControlName="regNum">
    </div>
    <br><br><br>

    <div class="context-wrap">

      <div class="form-check">
        <input formControlName="subject1" class="form-check-input" type="checkbox" value="" id="subject1">
        <label class="form-check-label" for="subject1">
          Subject 1
        </label>
      </div>
      <br>
      <div class="form-check">
        <input formControlName="subject2" class="form-check-input" type="checkbox" value="" id="subject2">
        <label class="form-check-label" for="subject2">
          Subject 2
        </label>
      </div>
      <br>

      <div class="form-check">
        <input formControlName="subject3" class="form-check-input" type="checkbox" value="" id="subject3">
        <label class="form-check-label" for="subject3">
          Subject 3
        </label>
      </div>
      <br>

      <div class="form-check">
        <input formControlName="subject4" class="form-check-input" type="checkbox" value="" id="subject4">
        <label class="form-check-label" for="subject4">
          Subject 4
        </label>
      </div>
      <br>

      <div class="form-check">
        <input formControlName="subject5" class="form-check-input" type="checkbox" value="" id="subject5">
        <label class="form-check-label" for="subject5">
          Subject 5
        </label>
      </div>
      <br>

      <div class="form-check">
        <input formControlName="subject6" class="form-check-input" type="checkbox" value="" id="subject6">
        <label class="form-check-label" for="subject6">
          Subject 6
        </label>
      </div>
      <br>

      <div class="form-check">
        <input formControlName="subject7" class="form-check-input" type="checkbox" value="" id="subject7">
        <label class="form-check-label" for="subject7">
          Subject 7
        </label>
      </div>
      <br>

      <div class="form-check">
        <input formControlName="subject8" class="form-check-input" type="checkbox" value="" id="subject8">
        <label class="form-check-label" for="subject8">
          Subject 8
        </label>
      </div>
      <br>

      <div class="form-check">
        <input formControlName="subject9" class="form-check-input" type="checkbox" value="" id="subject9">
        <label class="form-check-label" for="subject9">
          Subject 9
        </label>
      </div>
      <br>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Alter Course Details</button>
      </div>

    </div>

  </div>

</form>
