.header-text{
  color: #2c3e50;
}
.outer{
  padding: 10px 10px 10px;
  //justify-content: space-between;
  //text-align: center;
  //position: absolute;
  //display: flex;
}
.content-wrap{
  padding: 0px 20px;
  //position: relative;
  //display: flex;
}
.mb-5{
  width: 80%;
  height: 50px;
}
input{
  width: 80%;
  height: 50px;
}
